.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(55, 55, 55, 0.1);
  }
  100% {
    background-color: rgba(55, 55, 55, 0.4);
  }
}
